$color-red: #8B3422;
$color-red-light: #AB5235;
$color-beige: #DBAB85;
$color-beige-light: #E2D9C5;
$color-green: #6F7714;


* {
    padding: 0;
    margin: 0;
}

body {
    font-size: 62.5%;
    background-color: $color-red;
}

.header {
    display: block;
    margin: 15px;
    border: solid 10px $color-beige;
    background-image: url(../img/ruslan-bardash-xRdZIt66FSE-unsplash.jpg);
    background-position: bottom;
    background-size: cover;
    height: 95vh;
    position: relative;
    text-align: center;

    &-logo {
        height: 100px;
        border-radius: 100px;
        position: absolute;
        top: 30px;
        left: 50px;
        border: $color-red solid 5px;
    }
}

.heading {
    color: $color-red;


    &-primary {
        font-size: 100px;
        font-family: "Nothing you could do", sans-serif;
        font-weight: 400;
        line-height: 1.7;
        position: absolute;
        top: 20%;
        left: 35%;
    }
}

.footer {
    text-align: center;
}